{% include "admin/navbar.html" %}

<!-- slider section -->
<div class="container  p-5 rounded-5 bg-white" >
    <div class="row">
        <div class="col-md-12">
            <h1>Living Slider</h1>
        </div>
        <hr/>

        <form action="/admin/save_lsliderimg/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-md-4 p-2">
                        <p>Living Slider Image </p>
                        <input type="file" name="lsliderimg" class="form-control" />
                    </div>
                    <div class="col-md-12 text-center mt-5">
                        <button class="btn btn-dark btn-outline-success text-white">Submit</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-md-12 mt-5 table-responsive" >
            <table class="table table-sm table-borderd  text-center" style=" color: rgb(77, 32, 57);;font-size: larger; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                <tr>
                    <th>Action</th>
                    <th>SN</th>
                    <th>Image</th>
                    
                </tr>
                {% for i in lsliderimgs %}
                <tr>
                    <td>
                        
                        <a href="/admin/delete_lsliderimg?id={{i.id}}">
                            <button class="btn"onclick="return confirm('are you sure?')"><i class="fa fa-trash"></i></button>
                            </a>
                    </td>
                   
                    <td>{{forloop.counter}}</td>
                    <td>
                        <img src="/{{i.lsliderimg}}" width="150px">
                    </td>
                    

                </tr>
               {% endfor %}
            
            </table>
         </div>

</div>
</div> 

<hr>



<!-- video section -->
<div class="container  p-5 rounded-5 bg-white" >
    <div class="row">
        <div class="col-md-12">
            <h1>Living Video </h1>
        </div>
        <hr/>

        <form action="/admin/save_lvideos/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-md-3 p-2">
                        <p> Living Video 1 </p>
                        <input type="file" name="lvideo1" class="form-control" />
                    </div>
                    <div class="col-md-3 p-2">
                        <video style="height: 100px;" width="100px">
                            <source src="/{{lvideos.lvideo1}}" />
                        </video>
                    </div>


                    <div class="col-md-3 p-2">
                        <p>Living Video 2</p>
                        <input type="file" name="lvideo2" class="form-control" />
                    </div>

                    <div class="col-md-3 p-2">
                        <video style="height: 100px;" width="100px">
                            <source src="/{{lvideos.lvideo2}}" />
                        </video>
                    </div>

                    <div class="col-md-12 text-center mt-5">
                        <button class="btn btn-dark btn-outline-success text-white">UPDATE</button>
                    </div>
                </div>
            </div>
        </form>

    
</div>
</div> 

<hr> 


<!-- Top Picks Section -->
<div class="container  p-5 rounded-5 bg-white" >
    <div class="row">
        <div class="col-md-12">
            <h1>Living Top Picks </h1>
        </div>
        <hr/>

        <form action="/admin/save_ltopic/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="row justify-content-center">
                    
                    <div class="col-md-4 p-2">
                        <p>Subject Imgae</p>
                        <input type="file" name="ltopicimg" class="form-control" />
                    </div>

                    <div class="col-md-4 p-2">
                        <p>Image Title</p>
                        <input type="text" name="ltopicimgt" class="form-control" />
                    </div>

                    <div class="col-md-12 text-center mt-5">
                        <button class="btn btn-dark btn-outline-success text-white">UPLOAD</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-md-12 mt-5 table-responsive" >
            <table class="table table-sm table-borderd  text-center" style="font-size: larger; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                <tr>
                    <th>Action</th>
                    <th>SN</th>
                    
                    <th>Image</th>
                    <th>Image Title</th>

                 
                </tr>
                {% for i in ltopics %}
                <tr>
                    <td>
                        <a href="/admin/delete_ltopic?id={{i.id}}">
                            <button class="btn "onclick="return confirm('are you sure?')"><i class="fa fa-trash"></i></button>
                        </a>
                    </td>
                   
                    <td>{{forloop.counter}}</td>
                    <td>
                        <img src="/{{i.ltopicimg}}" width="200px">
                    </td>
                    <td>{{i.ltopicimgt}}</td>
                
                </tr>
               {% endfor %}
            
            </table>
         

        </div>
</div>
</div> 
<hr>


<!-- Video Slider -->
<div class="container  p-5 rounded-5 bg-white" >
    <div class="row">
        <div class="col-md-12">
            <h1>Living Videos </h1>
        </div>
        <hr/>

        <form action="/admin/save_lsvideo/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-md-4 p-2">
                        <p>Upload Video </p>
                        <input type="file" name="lsvideo" class="form-control" />
                    </div>
         
                    <div class="col-md-12 text-center mt-5">
                        <button class="btn btn-dark btn-outline-success text-white">UPLOAD</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-md-12 mt-5 table-responsive" >
            <table class="table table-sm table-borderd  text-center" style="font-size: larger; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                <tr>
                    <th>Action</th>
                    <th>SN</th>
                    <th>Video</th>
                 
                </tr>
                {% for i in lsvideos %}
                <tr>
                    <td>
                        
                        <a href="/admin/delete_lsvideo?id={{i.id}}">
                            <button class="btn "onclick="return confirm('are you sure?')"><i class="fa fa-trash"></i></button>
                            </a>
                    </td>
                   
                    <td>{{forloop.counter}}</td>
                    <td>
                        <video style="height: 100px;" width="100px">
                            <source src="/{{i.lsvideo}}" />
                        </video>
                    </td>
                  
                </tr>
               {% endfor %}
            
            </table>
         

        </div>
</div>
</div> 
<hr> 


<!-- Gallery Images -->
<div class="container  p-5 rounded-5 bg-white " >
    <div class="row">
        <div class="col-md-12">
            <h1>Living Gallery Images </h1>
        </div>
        <hr/>

        <form action="/admin/save_lgc1img/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12 p-2">
                        <p>Column 1 Images </p>
                        <input type="file" name="lgc1img" class="form-control" />
                    </div>

                    <div class="col-md-12 text-center mt-5">
                        <button class="btn btn-dark btn-outline-success text-white">UPLOAD</button>
                    </div>
                </div>
            </div>
        </form>

        <form action="/admin/save_lgc2img/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12 p-2">
                        <p>Column 2 Images </p>
                        <input type="file" name="lgc2img" class="form-control" />
                    </div>

                    <div class="col-md-12 text-center mt-5">
                        <button class="btn btn-dark btn-outline-success text-white">UPLOAD</button>
                    </div>
                </div>
            </div>
        </form>


        <form action="/admin/save_lgc3img/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12 p-2">
                        <p>Column 3 Images </p>
                        <input type="file" name="lgc3img" class="form-control" />
                    </div>

                    <div class="col-md-12 text-center mt-5">
                        <button class="btn btn-dark btn-outline-success text-white">UPLOAD</button>
                    </div>
                </div>
            </div>
        </form>


        <form action="/admin/save_lgc4img/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-12 p-2">
                        <p>Column 4 Images </p>
                        <input type="file" name="lgc4img" class="form-control" />
                    </div>

                    <div class="col-md-12 text-center mt-5">
                        <button class="btn btn-dark btn-outline-success text-white">UPLOAD</button>
                    </div>
                </div>
            </div>
        </form>


        <!------------------------------ Tables ---------------------------------- -->

        <div class="col-md-3 mt-5 table-responsive" >
            <table class="table table-sm table-borderd  text-center" style=" color: rgb(77, 32, 57);;font-size: larger; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                <tr>
                    <th>Action</th>
                    
                    <th>Col 1 Images</th>
                 
                </tr>
                {% for i in lgc1imgs %}
                <tr>
                    <td>
                        
                        <a href="/admin/delete_lgc1img?id={{i.id}}">
                            <button class="btn "onclick="return confirm('are you sure?')"><i class="fa fa-trash"></i></button>
                            </a>
                    </td>
                   
                   
                    <td>
                        <img src="/{{i.lgc1img}}" width="150px">
                    </td>
                  
                </tr>
               {% endfor %}
            
            </table>
         

        </div>

        <div class="col-md-3 mt-5 table-responsive" >
            <table class="table table-sm table-borderd  text-center" style=" color: rgb(77, 32, 57);;font-size: larger; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                <tr>
                    <th>Action</th>
                    
                    <th>Col 2 Images</th>
                 
                </tr>
                {% for i in lgc2imgs %}
                <tr>
                    <td>
                        
                        <a href="/admin/delete_lgc2img?id={{i.id}}">
                            <button class="btn "onclick="return confirm('are you sure?')"><i class="fa fa-trash"></i></button>
                            </a>
                    </td>
                   
                   
                    <td>
                        <img src="/{{i.lgc2img}}" width="150px">
                    </td>
                  
                </tr>
               {% endfor %}
            
            </table>
         

        </div>

        <div class="col-md-3 mt-5 table-responsive" >
            <table class="table table-sm table-borderd  text-center" style=" color: rgb(77, 32, 57);;font-size: larger; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                <tr>
                    <th>Action</th>
                    
                    <th>Col 3 Images</th>
                 
                </tr>
                {% for i in lgc3imgs %}
                <tr>
                    <td>
                        
                        <a href="/admin/delete_lgc3img?id={{i.id}}">
                            <button class="btn "onclick="return confirm('are you sure?')"><i class="fa fa-trash"></i></button>
                            </a>
                    </td>
                   
                   
                    <td>
                        <img src="/{{i.lgc3img}}" width="150px">
                    </td>
                  
                </tr>
               {% endfor %}
            
            </table>
         

        </div>

        <div class="col-md-3 mt-5 table-responsive" >
            <table class="table table-sm table-borderd  text-center" style=" color: rgb(77, 32, 57);;font-size: larger; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                <tr>
                    <th>Action</th>
                    
                    <th>Col 4 Images</th>
                 
                </tr>
                {% for i in lgc4imgs %}
                <tr>
                    <td>
                        
                        <a href="/admin/delete_lgc4img?id={{i.id}}">
                            <button class="btn "onclick="return confirm('are you sure?')"><i class="fa fa-trash"></i></button>
                            </a>
                    </td>
                   
                   
                    <td>
                        <img src="/{{i.lgc4img}}" width="150px">
                    </td>
                  
                </tr>
               {% endfor %}
            
            </table>
         

        </div>

      
</div>
</div> 
<hr> 


{% include "admin/footer.html" %}