{% include "user/navbar.html" %}  
 <!-- section 2 start -->
 <div class="container-fluid p-5 bg-light-subtle">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
            <div class="col-md-6">
                <h3 class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.7); color: white;">CONTACT DETAILS</h3>

                <div class="add_list " style="margin-top: 50px;">
                <i class="fa fa-map-marker "></i>
                <h6>{{contacts.address}}</h6>
                </div>
                <hr>
                <div class="add_list">
                <i class="fa fa-phone "></i><h6>{{contacts.phoneno}}</h6>
                </div>
                <hr>
                <div class="add_list">
                <i class="fa fa-envelope "></i><h6>{{contacts.email}}</h6>
                </div>
                <hr>
             <form action="/save_contact/" method="post">
                {% csrf_token %}
                <div class="mt-5 text-justify bg-info-subtle shadow p-3">
            
                <h4 class="p-2">Send Message</h4>

                <input type="text" placeholder="Your Name . . . ." class="form-control mt-5" name="cname">

                <input type="text" placeholder="Your Mobile . . . ." class="form-control mt-4" name="cmobile">
                
                <input type="email" placeholder="Your Email . . . ." class="form-control mt-4" name="cemail">

                <input type="text" placeholder="Your City . . . . " class="form-control mt-4" name="ccity">


                <textarea type="text" placeholder="Your Message . . . ." class="form-control mt-4" name="cmessage"></textarea>

                <button class="btn btn-primary mt-4 btn-lg">Send</button>

           
            </div>
        </form>

            

            </div>
            <div class="col-md-6 mt-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.052134329185!2d74.72775317520612!3d19.105368682105276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdcb17ca9d749e5%3A0x516744f9b2f35ec9!2sA2Z%20IT%20HUB%20PVT.%20LTD.!5e0!3m2!1sen!2sin!4v1711074690277!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded-5 shadow"></iframe>
            </div>
            </div>
        </div>
    </div>
 </div>
 {% include "user/footer.html" %}  